<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviando un Archivo</title>
</head>
<body>

  <h1>Hola Celeste</h1>
  <h2>Sos muy Genia</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti illo sed, assumenda architecto cupiditate nam commodi excepturi? Optio error voluptate nemo molestias dignissimos sunt autem modi perferendis veritatis, corporis a.

  </p>
  
</body>
</html>